In [53]:
import numpy as np
import pandas as pd
from datetime import datetime

In [54]:
df = pd.read_csv('../datasets/spam.csv')
df

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [55]:
df.isnull().sum()

label    0
text     0
dtype: int64

In [56]:
data = df

In [57]:
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [58]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
data['text']= data['text'].apply(lambda x:remove_punctuation(x))
data.head()

  label                                               text
0   ham  Go until jurong point crazy Available only in ...
1   ham                            Ok lar Joking wif u oni
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham        U dun say so early hor U c already then say
4   ham  Nah I dont think he goes to usf he lives aroun...

In [59]:
data['text']= data['text'].apply(lambda x: x.lower())
data

     label                                               text
0      ham  go until jurong point crazy available only in ...
1      ham                            ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham        u dun say so early hor u c already then say
4      ham  nah i dont think he goes to usf he lives aroun...
...    ...                                                ...
5567  spam  this is the 2nd time we have tried 2 contact u...
5568   ham                will ì b going to esplanade fr home
5569   ham  pity  was in mood for that soany other suggest...
5570   ham  the guy did some bitching but i acted like id ...
5571   ham                          rofl its true to its name

[5572 rows x 2 columns]

In [60]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split('W+',text)
    return tokens
#applying function to the column
data['text']= data['text'].apply(lambda x: tokenization(x))
data

     label                                               text
0      ham  [go until jurong point crazy available only in...
1      ham                          [ok lar joking wif u oni]
2     spam  [free entry in 2 a wkly comp to win fa cup fin...
3      ham      [u dun say so early hor u c already then say]
4      ham  [nah i dont think he goes to usf he lives arou...
...    ...                                                ...
5567  spam  [this is the 2nd time we have tried 2 contact ...
5568   ham              [will ì b going to esplanade fr home]
5569   ham  [pity  was in mood for that soany other sugges...
5570   ham  [the guy did some bitching but i acted like id...
5571   ham                        [rofl its true to its name]

[5572 rows x 2 columns]

In [61]:
from sklearn.feature_extraction import text
stopwords = text.ENGLISH_STOP_WORDS

In [62]:
#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

In [63]:
data['text']= data['text'].apply(lambda x:remove_stopwords(x))

In [64]:
#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()

In [65]:
#defining a function for stemming
def stemming(text):
    stem_text = [porter_stemmer.stem(word) for word in text]
    return stem_text
data['text']=data['text'].apply(lambda x: stemming(x))

In [43]:
import nltk
nltk.download('wordnet')
word_net = nltk.corpus.wordnet
word_net

[nltk_data] Downloading package wordnet to /home/younes/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [66]:
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

In [67]:
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text
data['text']=data['text'].apply(lambda x:lemmatizer(x))

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [69]:
def listToString(text):
    string = ' '.join(text)
    return string
data['text']=data['text'].apply(lambda x: listToString(x))
data

     label                                               text
0      ham  go until jurong point crazy available only in ...
1      ham                            ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham        u dun say so early hor u c already then say
4      ham  nah i dont think he goes to usf he lives aroun...
...    ...                                                ...
5567  spam  this is the 2nd time we have tried 2 contact u...
5568   ham                 will ì b going to esplanade fr hom
5569   ham     pity  was in mood for that soany other suggest
5570   ham  the guy did some bitching but i acted like id ...
5571   ham                           rofl its true to its nam

[5572 rows x 2 columns]

In [70]:
vectorizer = TfidfVectorizer(ngram_range=(1, 2))
X = vectorizer.fit_transform(data['text'])

In [71]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(data['label'])

In [73]:
le.classes_

array(['ham', 'spam'], dtype=object)

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [75]:
from sklearn import svm

In [76]:
svmc = svm.SVC()
svmc.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [77]:
svmc.score(X_test, y_test)

0.9619526202440776

In [79]:
from sklearn.metrics import classification_report, confusion_matrix
y_pred = svmc.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1208
           1       1.00      0.71      0.83       185

    accuracy                           0.96      1393
   macro avg       0.98      0.86      0.91      1393
weighted avg       0.96      0.96      0.96      1393

In [80]:
print(confusion_matrix(y_test, y_pred))

[[1208    0]
 [  53  132]]